<!-- Oksana Koshulap-->

<!-- Conten of about page -->

<div class="container">
    <h6 class="display-6" style="color:#336699">About Me:</h6>
    <div class="d-inline-flex p-2">
        <p class="text-muted">Hi there! My name is <mark> Oksana Koshulap </mark>. I obtained my Bachelor of Science
            degree in the spring of 2020 with a
            major in Biomedical Sciences and a minor in Philosophy from Ryerson University.
            Currently, I'm studying Software Engineering at Centennial College.
            I really enjoy both worlds of software development and biomedicine and would love to pursue those in the
            future.
            One of my hobbies is painting. Click <a href="/public/Assets/CV2021.pdf" target=blank>here</a> to view my
            Resume. </p>
        <img src="/public/Assets/images/oksana_koshulap.jpg" alt="aboutme" width=auto height="450"
            class="rounded float-right">
    </div>

</div>