<!-- Oksana Koshulap-->

<!-- Content of about page -->

<div class="container">
    <h6 class="display-6" style="color:#336699">About Me:</h6>
    <div class="d-inline-flex p-2">
        <p class="text-muted">Hi there! My name is <mark> Oksana Koshulap </mark>.
            Software Engineering graduate with proficiency in web applications development (front and back end), database
            administration, system analysis and software testing with High Honours. I like to approach problem solving in a creative
            way. Creativity is a part of my life as one of my hobbies is painting and sketching portraits.
            <br>
            I have an experience working with a team to maintain and design multiple web applications using JavaScript, HTML, CSS,
            Express.js, Bootstrap, Heroku, WordPress, and MongoDB. I am proficient in Unified Modeling Language (UML) and familiar
            with the Software Requirement Specification (SRS) and Software Design Description (SDD) documentation protocols.
            <br>
            Effective communicator and active listener, who thrives while working on independent and team projects. Flexible and
            adapt well to changing environments; driven to complete assigned tasks thoroughly by applying strong work ethic.
            Multilingual in English, Ukrainian, Russian, and basic French.
            <br>
            Click <a href="/public/Assets/oksana_koshulap.pdf" target=blank>here</a> to view my
            Resume. </p>

            <br><br>
        <!--  <img src="/public/Assets/images/oksana_koshulap.jp>g" alt="aboutme" width=auto height="450"
            class="rounded float-right"> -->
    </div>

</div>