<!-- Oksana Koshulap-->

<!-- Content of about page -->

<div class="container">
    <h6 class="display-6" style="color:#336699">About Me:</h6>
    <div class="d-inline-flex p-2">
        <p class="text-muted">Hi there! My name is <mark> Oksana Koshulap </mark>.
            
            Click <a href="/public/Assets/oksana_koshulap.pdf" target=blank>here</a> to view my
            Resume. </p>
        <!--  <img src="/public/Assets/images/oksana_koshulap.jp>g" alt="aboutme" width=auto height="450"
            class="rounded float-right"> -->
    </div>

</div>