<!-- Oksana Koshulap-->

<?php

if($_POST["message"]) {

mail("oksanka8888@gmail.com", "Here is the subject line",

$_POST["insert your message here"]. "From: an@email.address");

}

?>


<!-- Content of contacts page -->
<div class="container">
    <br><br>
    <h6 class="h4" style="color:#7FB3D5">If you wish to contact me, feel free to fill out the form down below. Thank
        you! </h6>
    <br>
    <!-- form -->
    <form action="subscriberform.php" method=”POST”>
       
        <label class="sr-only" for="inlineFormInputName1"></label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName1" placeholder="First Name">
        <label class="sr-only" for="inlineFormInputName2"></label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Last Name">
        <label class="sr-only" for="inlineFormInputName2"></label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputAddress" placeholder="Address">
        <label class="sr-only" for="phoneNumber"></label>
        <input type="number" class="form-control mb-2 mr-sm-2" id="inlineFormInputPhone" placeholder="Phone Number">
        <label class="sr-only" for="email"></label>
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        <div class="form-group">
            <br>
            <label for="exampleFormControlTextarea1"></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" 
                placeholder="Leave me a message"></textarea>
        </div>
    
        <div class="form-group row">
            <div class="col-sm-10">
                <br>
                <button type="submit" value ="Submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
          
    </form>
</div>