

<style>
    html {
        font: 5vmin/1.3 Serif;
        overflow: hidden;
        background: #123;
    }

    body,
    head {
        display: block;
        font-size: 52px;
        color: transparent;
    }

    head::before,
    head::after,
    body::before,
    body::after {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 3em;
        height: 3em;
        content: "V";
        mix-blend-mode: screen;
        animation: 44s -27s move infinite ease-in-out alternate;
    }

    body::before {
        text-shadow: 2.364764156em 0.3716780537em 2px rgba(126, 0, 255, 0.9), -0.4698605659em 1.1620348184em 2px rgba(222, 255, 0, 0.9), 1.1282350599em 2.3044195184em 2px rgba(0, 255, 26, 0.9), 1.9928505602em -0.0899161026em 2px rgba(255, 33, 0, 0.9), 1.1161599211em 0.6216625541em 2px rgba(0, 31, 255, 0.9), 1.0832841962em 0.1053996335em 2px rgba(255, 226, 0, 0.9), 1.8435414381em -0.3270222216em 2px rgba(255, 0, 178, 0.9), 0.7847203631em 2.2218067905em 2px rgba(255, 0, 94, 0.9), 1.7849559266em 0.4503178797em 2px rgba(100, 0, 255, 0.9), 2.4944242543em 0.5039179569em 2px rgba(0, 255, 218, 0.9), -0.3418089876em 0.5760966005em 2px rgba(0, 255, 221, 0.9), 1.7811289622em 2.34476529em 2px rgba(0, 255, 100, 0.9), 2.0596119133em 2.0221900882em 2px rgba(0, 110, 255, 0.9), -0.2444822714em 0.4787934545em 2px rgba(0, 109, 255, 0.9), 1.4286582835em 2.4946347821em 2px rgba(0, 255, 32, 0.9), 1.2831995148em 0.6114243069em 2px rgba(255, 0, 51, 0.9), 0.2698422348em 2.4951277808em 2px rgba(0, 255, 240, 0.9), 1.3935584326em 1.768720072em 2px rgba(255, 0, 21, 0.9), 1.6194724569em 0.6274397939em 2px rgba(255, 160, 0, 0.9), 0.6070943389em 1.54533562em 2px rgba(255, 109, 0, 0.9), 1.0276930019em 2.3261819053em 2px rgba(0, 255, 137, 0.9), 0.0752682705em 1.3299126939em 2px rgba(0, 255, 29, 0.9), 0.7164717788em 1.7835801829em 2px rgba(255, 0, 115, 0.9), -0.2527249221em 2.2727940379em 2px rgba(198, 0, 255, 0.9), -0.3250047578em 1.975299866em 2px rgba(255, 91, 0, 0.9), 0.8046199205em 0.7593368447em 2px rgba(0, 175, 255, 0.9), 1.1122917304em 1.2165399509em 2px rgba(160, 255, 0, 0.9), 0.973966777em 2.2705630071em 2px rgba(0, 84, 255, 0.9), 1.7324969076em 1.511911227em 2px rgba(160, 255, 0, 0.9), -0.4600330925em 1.366459006em 2px rgba(255, 181, 0, 0.9), 1.0186238302em 1.753563538em 2px rgba(255, 0, 245, 0.9), -0.3550916532em 1.2293965641em 2px rgba(71, 255, 0, 0.9), 1.8994319758em -0.1517263898em 2px rgba(0, 255, 255, 0.9), 0.0472084401em 0.0549445587em 2px rgba(57, 255, 0, 0.9), 0.1673873763em 1.9511065362em 2px rgba(255, 244, 0, 0.9), 0.5076586027em 1.4760326748em 2px rgba(255, 0, 125, 0.9), 0.9631046942em 0.7922328623em 2px rgba(0, 255, 248, 0.9), 0.0986204645em 0.1992656455em 2px rgba(255, 0, 158, 0.9), 1.2658499301em 0.4500763894em 2px rgba(0, 255, 97, 0.9), 0.2823619116em -0.3417524702em 2px rgba(255, 0, 255, 0.9), 0.3155530507em 2.1677352609em 2px rgba(223, 0, 255, 0.9);
        animation-duration: 44s;
        animation-delay: -27s;
    }

    body::after {
        text-shadow: 1.5782668571em 2.1632998309em 2px rgba(0, 251, 255, 0.9), 1.1561338659em 0.7714004688em 2px rgba(255, 118, 0, 0.9), 0.0263596744em 0.8343554641em 2px rgba(0, 84, 255, 0.9), 2.4480288347em 0.2347505154em 2px rgba(0, 5, 255, 0.9), 0.3800219991em 1.0097097338em 2px rgba(62, 255, 0, 0.9), 0.6622307278em 0.0469689473em 2px rgba(0, 255, 154, 0.9), 0.5971522724em 1.0515498093em 2px rgba(0, 87, 255, 0.9), 2.4020396245em 0.1343897697em 2px rgba(255, 51, 0, 0.9), 2.4874550407em -0.439112085em 2px rgba(0, 255, 199, 0.9), 0.3589421141em 2.3193681754em 2px rgba(30, 0, 255, 0.9), 2.1061689275em 1.6952306477em 2px rgba(255, 192, 0, 0.9), 1.6603094829em 0.854374619em 2px rgba(138, 255, 0, 0.9), 0.2006997327em 2.0440097552em 2px rgba(3, 0, 255, 0.9), 2.2073643758em 1.293008929em 2px rgba(0, 75, 255, 0.9), -0.0629554508em 0.0035992512em 2px rgba(0, 54, 255, 0.9), 0.0046381807em 1.8542818759em 2px rgba(241, 255, 0, 0.9), 0.4083185181em -0.3464998876em 2px rgba(0, 255, 50, 0.9), 0.7873037714em -0.2644751761em 2px rgba(0, 255, 82, 0.9), 0.1185972446em -0.2729698654em 2px rgba(0, 255, 184, 0.9), 2.4692992933em -0.1535728283em 2px rgba(144, 255, 0, 0.9), 0.1363798694em 2.2137127844em 2px rgba(255, 0, 142, 0.9), 0.3821060428em 1.0714018867em 2px rgba(40, 0, 255, 0.9), 1.003645199em 0.0225462135em 2px rgba(255, 0, 58, 0.9), 0.1237487569em 1.2804436672em 2px rgba(51, 0, 255, 0.9), 1.1891907596em -0.2316077195em 2px rgba(255, 63, 0, 0.9), 2.439920986em 1.4456069482em 2px rgba(147, 0, 255, 0.9), 1.7514185831em 1.6290923529em 2px rgba(0, 183, 255, 0.9), -0.3390208948em -0.0138597514em 2px rgba(255, 0, 234, 0.9), -0.310784144em 0.2466894266em 2px rgba(0, 255, 204, 0.9), 1.491723256em 0.5631566702em 2px rgba(255, 0, 222, 0.9), 1.37560086em 0.9587015006em 2px rgba(255, 0, 83, 0.9), 1.7693964165em 1.4182009326em 2px rgba(0, 255, 192, 0.9), 1.1850768379em 1.7025214154em 2px rgba(122, 0, 255, 0.9), 1.8988775429em -0.4004773556em 2px rgba(255, 83, 0, 0.9), 0.5194762918em 0.2267303669em 2px rgba(0, 195, 255, 0.9), 2.4133161184em 0.7585200433em 2px rgba(0, 2, 255, 0.9), 0.81877769em 1.1193369563em 2px rgba(169, 255, 0, 0.9), 0.7429259474em 0.2914920085em 2px rgba(0, 100, 255, 0.9), 1.7144522908em 1.8334520637em 2px rgba(214, 255, 0, 0.9), 0.1577795049em 0.0877450343em 2px rgba(255, 134, 0, 0.9), 0.6250394345em 0.5663129714em 2px rgba(255, 199, 0, 0.9);
        animation-duration: 43s;
        animation-delay: -32s;
    }

    head::before {
        text-shadow: 0.9480322624em 2.3775932901em 2px rgba(56, 0, 255, 0.9), 1.418596226em 0.1672735875em 2px rgba(158, 255, 0, 0.9), 1.2100432792em 1.6667979041em 2px rgba(209, 255, 0, 0.9), 0.5393430545em -0.2177559915em 2px rgba(0, 255, 183, 0.9), 1.0221121059em 1.6456804019em 2px rgba(255, 105, 0, 0.9), 1.6105634234em 2.2321861861em 2px rgba(138, 0, 255, 0.9), 1.7141240524em 1.2822302208em 2px rgba(255, 0, 100, 0.9), 0.089444853em 1.1408446967em 2px rgba(134, 255, 0, 0.9), 0.4946943159em 2.4970748133em 2px rgba(0, 255, 160, 0.9), 1.9703368058em 1.9998414997em 2px rgba(47, 255, 0, 0.9), 2.2442382976em 1.8037247861em 2px rgba(81, 0, 255, 0.9), -0.0948146459em 2.3968102077em 2px rgba(255, 0, 16, 0.9), 1.2121207457em 1.0375247918em 2px rgba(0, 89, 255, 0.9), -0.3782555793em 1.7142644559em 2px rgba(255, 235, 0, 0.9), 2.0572652361em 1.5274953321em 2px rgba(255, 76, 0, 0.9), 0.6565387595em 2.2658140098em 2px rgba(120, 0, 255, 0.9), 0.3021253667em 2.0828675573em 2px rgba(255, 154, 0, 0.9), -0.257297343em 0.5308059528em 2px rgba(255, 0, 77, 0.9), 2.1981943588em 1.88138063em 2px rgba(255, 204, 0, 0.9), 2.2675361705em -0.0584258125em 2px rgba(255, 6, 0, 0.9), 1.669209937em -0.286206959em 2px rgba(255, 189, 0, 0.9), -0.237546524em 1.0743939498em 2px rgba(14, 255, 0, 0.9), 0.5148586662em -0.3360637292em 2px rgba(0, 119, 255, 0.9), 1.0656805466em 1.1111155518em 2px rgba(255, 0, 138, 0.9), 0.7582643186em 0.1762802818em 2px rgba(0, 20, 255, 0.9), 2.4953606298em 2.2630481837em 2px rgba(255, 4, 0, 0.9), 1.0951062638em 0.9976904272em 2px rgba(0, 255, 236, 0.9), 1.7474442974em -0.311465803em 2px rgba(255, 0, 129, 0.9), 0.8530276544em 1.4559863507em 2px rgba(90, 0, 255, 0.9), 1.9908669456em 2.1225433459em 2px rgba(167, 255, 0, 0.9), 1.3501554068em 0.7912922351em 2px rgba(255, 116, 0, 0.9), 2.2660593634em 0.8014430632em 2px rgba(0, 135, 255, 0.9), 0.3622735848em 1.6781648607em 2px rgba(0, 255, 221, 0.9), 0.1450165351em 0.2277571382em 2px rgba(255, 0, 183, 0.9), 1.932450318em 0.8195833094em 2px rgba(238, 255, 0, 0.9), 0.820463363em 1.5853691253em 2px rgba(255, 0, 29, 0.9), 1.5154629515em -0.3109249161em 2px rgba(255, 63, 0, 0.9), 0.2627577865em 0.0547918289em 2px rgba(255, 0, 198, 0.9), 1.5969028223em 0.8755648491em 2px rgba(0, 255, 157, 0.9), 1.2927650838em 1.4907589087em 2px rgba(255, 0, 91, 0.9), 2.4219515175em 0.0360895903em 2px rgba(255, 202, 0, 0.9);
        animation-duration: 42s;
        animation-delay: -23s;
    }

    head::after {
        text-shadow: 1.7820170492em 1.3577981479em 2px rgba(29, 0, 255, 0.9), 0.318000599em 0.7721594072em 2px rgba(164, 0, 255, 0.9), 1.9636592166em 2.0590891144em 2px rgba(255, 0, 93, 0.9), 2.0603841323em 0.8090314645em 2px rgba(255, 0, 242, 0.9), 2.2498437126em 0.9659539174em 2px rgba(0, 86, 255, 0.9), -0.3865855068em 2.3667111563em 2px rgba(255, 64, 0, 0.9), 2.4240777598em 0.3871519759em 2px rgba(0, 100, 255, 0.9), 0.9268167032em 2.4870192242em 2px rgba(255, 0, 255, 0.9), 2.3075274586em 1.2753894371em 2px rgba(30, 255, 0, 0.9), -0.2824149724em 1.6803158421em 2px rgba(48, 255, 0, 0.9), 1.8344864331em 1.5141087049em 2px rgba(44, 255, 0, 0.9), 0.0358387692em 0.0603275219em 2px rgba(0, 20, 255, 0.9), 2.252210516em 0.6486718126em 2px rgba(31, 0, 255, 0.9), 1.4518729755em 0.3115228291em 2px rgba(108, 255, 0, 0.9), 0.8680179531em 1.4781890948em 2px rgba(17, 0, 255, 0.9), 1.3797445696em 2.1912903276em 2px rgba(255, 255, 0, 0.9), 1.4531650827em 0.0393320202em 2px rgba(0, 255, 83, 0.9), 0.2249629883em 2.0322554805em 2px rgba(255, 186, 0, 0.9), 0.9116500904em -0.4908113224em 2px rgba(221, 255, 0, 0.9), 0.8263081038em 0.8593711367em 2px rgba(128, 255, 0, 0.9), 1.9702600074em 2.0912864881em 2px rgba(73, 255, 0, 0.9), -0.1223618853em 1.060057493em 2px rgba(255, 0, 136, 0.9), 0.4272017972em -0.3590328698em 2px rgba(255, 0, 135, 0.9), 0.2907916244em 1.2795821099em 2px rgba(0, 255, 113, 0.9), 2.1212817882em 0.4545949347em 2px rgba(0, 16, 255, 0.9), -0.1078621709em 0.6722522563em 2px rgba(0, 255, 182, 0.9), -0.1437411172em 1.5010215446em 2px rgba(187, 0, 255, 0.9), 1.5152411915em 2.0052367582em 2px rgba(0, 255, 242, 0.9), 1.5061221167em 0.2291885291em 2px rgba(0, 230, 255, 0.9), 1.4856121812em 0.5531702478em 2px rgba(0, 195, 255, 0.9), 0.455801073em 1.2923211801em 2px rgba(124, 0, 255, 0.9), 0.4579725725em 1.508883812em 2px rgba(0, 255, 131, 0.9), -0.0001939834em 0.9278071711em 2px rgba(255, 0, 45, 0.9), 1.8794964403em 1.5508597891em 2px rgba(255, 0, 235, 0.9), -0.2706398758em 0.8079451237em 2px rgba(255, 0, 26, 0.9), 1.8309631313em 0.5104129624em 2px rgba(190, 255, 0, 0.9), 0.0857108789em 1.4041462846em 2px rgba(1, 0, 255, 0.9), 1.2691412991em 2.2789369166em 2px rgba(255, 0, 6, 0.9), 0.7624404936em 1.1356250484em 2px rgba(255, 0, 37, 0.9), 1.6167824658em 0.3447932075em 2px rgba(56, 0, 255, 0.9), 1.169633076em -0.492538009em 2px rgba(0, 255, 184, 0.9);
        animation-duration: 41s;
        animation-delay: -19s;
    }

    @keyframes move {
        from {
            transform: rotate(0deg) scale(12) translateX(-20px);
        }

        to {
            transform: rotate(360deg) scale(18) translateX(20px);
        }
    }
</style>
<!-- Oksana Koshulap-->

<!-- Content of home page -->
<div class="container">
    <br><br>
    <!-- <p id="standout">Oksana</p> -->
    <p class="display-6"><br><br>
    </p>
    <p class="text-muted">To learn more about me click <a href="/about">here</a>.</p>
</div>