<!-- Oksana Koshulap, 301167025, June 4, 2021-->

<!-- Conten of home page -->
<div class="container">
    <br><br>
    <p id="standout">Mission Statement</p>
    <p class="display-6">To provide great work ethics and use my knowledge to solve modern issues with the help of
        technology and science.<br><br>
    </p>
    <p class="text-muted">To learn more about me click <a href="/about">here</a>.</p>
</div>