<style>


    
</style>


<!-- Oksana Koshulap-->

<!-- Content of home page -->
<div class="container">
    <br><br>
    <!-- <p id="standout">Oksana</p> -->
    <p class="display-6"><br><br>
    </p>
    <p class="text-muted">To learn more about me click <a href="/about">here</a>.</p>
</div>