<!-- Oksana Koshulap-->

<!-- Content of projects page -->
<div class="container">
    <br>
    <h6 class="display-6" style="color:#336699">Database Maintenance
        <img src="/public/Assets/images/data.png" alt="data" width=auto height="110" class="rounded float-right">
    </h6>
    <p class="text-muted"> One of my current projects that I’m working on is data engineering at a hospital research
        group.
        There I’m responsible to maintain a database so the data tables are connected properly and are updated
        correctly.</p>


    <h6 class="display-6" style="color:#336699">To Do List
        <img src="/public/Assets/images/list.png" alt="list" width=auto height="80" class="rounded float-right">
    </h6>
    <p class="text-muted">I would like to create a simple to do list application.
        I would want to include each item on the list with a priority and reminders options
        that would help end users stay productive and organize their day. </p>

    <h6 class="display-6" style="color:#336699">AI Project
        <img src="/public/Assets/images/ai.png" alt="ai" width=auto height="100" class="rounded float-right">
    </h6>
    <p class="text-muted">One of my long-term applications is to be able to use AI and biomedical research.
        I would like to create a software program that would help researchers analyze data and find trends to optimize
        the end results of the studies. </p>
</div>