<!-- Oksana Koshulap-->

<!-- Content of services page -->
<div class="container align-items-center justify-content-center  d-flex ">
        <h6 class="display-6" style="color:#7FB3D5">Some of the services that I provide:</h6>
    <br><br>
  
    <br><br>
    <ul class="h4" style="color:#336699">
        <li>Software Engineering <img src="/public/Assets/images/soft_eng.png" alt="list" width=auto height="150"
                class="rounded float-right"> </li> <br>
        <li>Web Development <img src="/public/Assets/images/web.png" alt="list" width=auto height="120"
                class="rounded float-right"></li> <br>
        <li>Data Engineering <img src="/public/Assets/images/eng_data.png" alt="list" width=auto height="100"
                class="rounded float-right"></li>
    </ul>
</div>