<!-- Oksana Koshulap, 301167025, June 4, 2021-->

<!-- Conten of services page -->
<div class="container">
    <br><br>
    <h6 class="display-6" style="color:#7FB3D5">Some of the services that I provide:</h6>
    <br><br>
    <ul class="h4" style="color:#336699">
        <li>Web Development <img src="/public/Assets/images/web.png" alt="list" width=auto height="120"
                class="rounded float-right"></li>
        <li>Software Engineering <img src="/public/Assets/images/soft_eng.png" alt="list" width=auto height="150"
                class="rounded float-right"> </li>
        <li>Data Engineering <img src="/public/Assets/images/eng_data.png" alt="list" width=auto height="100"
                class="rounded float-right"></li>
    </ul>
</div>