<!-- Oksana Koshulap, 301167025, June 4, 2021-->
<!-- Bottom navigation -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="display-7 navbar-text"> &copy; Copyright 2021. COMP 229 - Oksana Koshulap </h6>
    </nav>
</footer>