<!-- Oksana Koshulap, 301167025, June 4, 2021-->
<!--Main navigation -->

<body style="background-color:#EBF5FB">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"> <img src="/public/Assets/images/oksana_logov2.png" alt="logo" width="100"
                    height="85" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


                    <!-- nagivation that detects which page is active so the correct content is displayed-->
                    <li class="nav-item">
                        <% if (title=="Home" ) { %>
                            <a class="nav-link active">
                                <% } else { %>
                                    <a class="nav-link" href="/home">
                                        <% } %> <i class="fas fa-house-user fa-lg"></i> Home
                                    </a>
                    </li>

                    <li class="nav-item">
                        <% if (title=="About" ) { %>
                            <a class="nav-link active">
                                <% } else { %>
                                    <a class="nav-link" href="/about">
                                        <% } %><i class="fas fa-question-circle fa-lg"></i> About
                                    </a>
                    </li>

                    <li class="nav-item">
                        <% if (title=="Projects" ) { %>
                            <a class="nav-link active">
                                <% } else { %>
                                    <a class="nav-link" href="/projects">
                                        <% } %><i class="fas fa-code-branch fa-lg"></i> Projects
                                    </a>
                    </li>


                    <li class="nav-item">
                        <% if (title=="Services" ) { %>
                            <a class="nav-link active">
                                <% } else { %> <a class="nav-link" href="/services">
                                        <% } %> <i class="fas fa-laptop-code fa-lg"></i> Services
                                    </a>
                    </li>

                    <li class="nav-item">
                        <% if (title=="Business List" ) { %>
                            <a class="nav-link active">
                                <% } else { %><a class="nav-link" href="/business-list">
                                        <% } %><i class="fas fa-list-ol"></i> Business Contacts
                                    </a>
                    </li>
                    <li class="nav-item">
                        <% if (title=="Contact" ) { %>
                            <a class="nav-link active">
                                <% } else { %><a class="nav-link" href="/contact">
                                        <% } %><i class="fas fa-mail-bulk fa-lg"></i> Contact
                                    </a>
                    </li>

                    <% if(typeof displayName=='string' && displayName) { %>
                        <li class="navbar-text" style="color:#00CED1"><i class="fas fa-lg fa-user"></i> Welcome, <%=
                                displayName %>
                        </li>
                        <li class="nav-item"><a href="/logout" class="nav-link">
                                <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
                        <% } else { %>
                            <li class="nav-item"><a href="/login" class="nav-link">
                                    <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
                            <% } %>











                </ul>
            </div>
    </nav>
</body>